p.trigger-text {
  font-size: 22px;
  font-family: sans-serif;
  opacity: 0.7;
  margin-top: 5;
}

.form-label {
  font-size: small;
}

#draggable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
  border: 1rem;
  border-color: black;
}

#sortable {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}

/* .highcharts-background {
  opacity: 0.3;
  fill: rgb(164, 214, 248);
} */
